/* 
여기서 말하는 box size는 margin을 포함하지 않는다. 
box-sizing : 전체너비를 정하면 패딩,보더 사이즈를 조정하더라도
박스의 사이즈는 항상 변하지 않는다.
*/
.app {
    display: flex;
}
* {
   outline: 1px solid red !important;
}

* { /* 이부분은 잘 모르겠다. 무얼 의미하는건지를 모르겠음  */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 

.image{ 
	max-width: 460px;
}
.description{
	max-width: 705px;
}

